

<body class="">
  <h2>
    Prototipo analizador semántico de sentimientos sobre textos con un modelo de
    inteligencia artificial
  </h2>
  <!-- Input para simular el envío de un texto de prueba -->
  <div class="centro-container">
    <app-textinput (textChange)="onTextChange($event)"></app-textinput>
  </div>

  <!-- Componente para mostrar el resultado -->
  <app-result-display
    [analysisResult]="analysisResult"
    class="result-container"
  ></app-result-display>
<app-button (analyzeClicked)="onAnalyze()"></app-button>
</body>
